@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.3rem #5fbaa7;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  font-size: 1.6rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.money-img {
  width: 15rem;
  margin-bottom: 2rem;
}

h1 {
  color: #5fbaa7;
  margin-bottom: 4rem;
}

p {
  margin-bottom: 5rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.currency,
.rate-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.currency select {
  font-family: inherit;
  padding: 1rem 2rem;
  border-radius: 0.2rem;
  text-transform: uppercase;
  border-color: #ccc;
  appearance: none;
  background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%20000002%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E")
      no-repeat right 0.8rem top 50%/1.2rem auto,
    100%;
}

.currency input {
  font-size: 3rem;
  text-align: right;
  background-color: transparent;
  border: none;
}

.currency input:focus {
  box-shadow: none;
}

.currency input:focus {
  outline: none;
}

.btn--swap {
  color: white;
  font-family: inherit;
  background-color: #5fbaa7;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 0;
  box-shadow: 0 0.3rem #333;
}

.btn--swap:active {
  box-shadow: none;
  transform: translateY(0.3rem);
}

.rate {
  padding: 2rem;
  font-size: 1.4rem;
  color: #5fbaa7;
}
