@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  height: 100vh;
  color: white;
  background: linear-gradient(rgba(0 0 0/ 0.5), rgba(0 0 0 /0.5)),
    url('https://images.unsplash.com/photo-1467810563316-b5476525c0f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80')
      no-repeat center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 6rem;
  margin: -7rem 0 3rem 0;
}

.countdown {
  display: flex;
  gap: 6rem;
  font-size: 3.2rem;
  display: none;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.year {
  font-size: 20rem;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.1;
}
